# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local environment variables
.env.local

# Production
.next
/out/

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Next.js
.next/
out/

# Turborepo
.turbo

# IDE
.vscode/

# Firebase
*.firebase.*
firebase-debug.log
